/* Quiz Name Styling */
.quizName {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

/* Description/Purpose of Quiz */
.desc {
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* Start button */
.startBtn {
    font-size: 70px;
    text-align: center;
    border: 5px solid black;
    background: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}